<section>
  <h2>¿Para qué sirve Git?</h2>
  <iframe src="https://drive.google.com/file/d/1oXaBXTG1WA5gDr24L9n9u0I55LxQHVek/preview" width="640" height="480" allow="autoplay"></iframe>

</section>
<section>
  <h2>Utilidad de un VCS</h2>
  <p>Ahora que entendemos para qué sirve un VCS (Sistema de Control de Versiones), podemos continuar con esta capacitación, pero solo para asegurarnos...</p>
  <p>¿Cuáles de las siguientes afirmaciones sobre Git son correctas?</p>
  <p class="fw-light">Selecciona 2 alternativas</p>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label correct-answer" for="flexRadioDefault1">
      A
    </label>
    <p>Nos deja organizar el trabajo en equipo, manteniendo los cambios en los archivos en un servidor específico para eso.</p>

  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label " for="flexRadioDefault1">
      B
    </label>
    <p>Funciona solo cuando estamos online.</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault1">
      C
    </label>
    <p>Permite almacenamiento y acceso a un historial de cambios.</p>
  </div>
</section>

<section>
  <h2>Repositorios</h2>
  <iframe src="https://drive.google.com/file/d/1s8MvYI3VUTx0gKLmKsl1DBqpXvo-J1MS/preview" width="700" height="480" allow="autoplay"></iframe>
</section>
<section>
  <h2>Primeros pasos</h2>
  <p>Ya entendemos el motivo por el cual usamos Git. También comenzamos a comprender cómo funciona Git. Sabemos que Git administra repositorios y cada persona del equipo puede tener su propio repositorio.</p>
  <p>¿Cómo hacemos que Git vea una carpeta en particular como un repositorio y observe los cambios en sus archivos?</p>
  <p class="fw-light">Selecciona una alternativas</p>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label correct-answer" for="flexRadioDefault1">
      A
    </label>
    <p>A través del comando <code>git init-repository</code>.</p>

  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label " for="flexRadioDefault1">
      B
    </label>
    <p>A través del comando <code>git repository init</code>.</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label correct-answer" for="flexRadioDefault1">
      C
    </label>
    <p>A través del comando <code>git init</code>.</p>
  </div>

</section>
