<nav class="navbar navbar-expand-lg navbar-light" style="background-color:turquoise;">
  <a class="navbar-brand" href="#">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link">HTML5 y CSS3</a>
        <ul>
          <li><a class="nav-link" routerLink="html&Css1">HTML5 y CSS3 parte 1<span class="sr-only"></span></a></li>
          <li><a class="nav-link" routerLink="html&Css2">HTML5 y CSS3 parte 2<span class="sr-only"></span></a></li>
          <li><a class="nav-link" routerLink="html&Css3">HTML5 y CSS3 parte 3<span class="sr-only"></span></a></li>
          <li><a class="nav-link" routerLink="html&Css4">HTML5 y CSS3 parte 4<span class="sr-only"></span></a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="git">GIT</a>
      </li>
    </ul>
  </div>
</nav>

