
<section>
  <h3>HTML5 Y CSS 3CSS parte 1</h3>
  <iframe src="https://drive.google.com/file/d/1QR9Tb-SdJPypSpc5l9fSIgbHDqNo-h4U/preview" width="700" height="480" allow="autoplay"></iframe>
  <p>Hola amigos y amigas. Sean bienvenidos a la primera parte del curso HTML 5 y CSS 3. ¿Por qué HTML 5? Porque vamos a abordar en este curso la quinta versión de HTML, que es la que está actualmente en uso, y de la misma forma con el CSS. La tercera versión es la que se está usando en este momento.</p>
  <p>El objetivo de este curso es introducirlos a este mundo amplio y fantástico de Front End, que Front End es aquella área o aquel equipo de personas que se encargan de la creación de páginas web y de la creación de la interfaz de muchos sistemas entre un usuario, entre el cliente, y el sistema.</p>
	<p>Entonces, es aquella parte del sistema que el usuario ve y donde él coloca su nombre en un formulario o toda la interacción en sí que esa persona va a tener con una página web.</p>
  <p>Entonces es un área superimportante, un área que está en constante crecimiento, porque cada día que pasa las empresas se están volviendo más digitales y es una necesidad hoy en día estar en la web, porque quien no está online prácticamente no existe. Entonces, en este proyecto vamos a abordar la construcción de una página web desde cero, desde lo más básico.</p>
  <p>Vamos a empezar con nuestro código en blanco, básicamente, y vamos a ir aprendiendo de a poco a poco, paso a paso, cada uno de los elementos necesarios para construir una página web usando únicamente HTML y CSS.</p>
  <p>Entonces, al término de este curso van a estar aptos para construir una página web básica para su empresa o para algún cliente que les solicite, ya sea una barbería, como es el caso de nuestro ejemplo que vamos a construir la Barbería Alura. Como podrán ver tenemos fotos que vamos a aprender a colocarlas, a formatearlas también.</p>
</section>
<section>
  <h2>Uso de etiquetas</h2>
  <h4>¿Existe diferencia entre las etiquetas de HTML?</h4>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      A
    </label>
    <p>Depende del navegador</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label correct-answer" for="flexRadioDefault1">
      B
    </label>
    <p>Sí, cada etiqueta tiene una responsabilidad y un significado</p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault1">
      C
    </label>
    <p>No, todas sirven para marcar contenido</p>
  </div>
</section>

<section>
  <h2>Mejorando el texto</h2>
  <iframe src="https://drive.google.com/file/d/1SVCv6s0WKW5_nhQVASAOH2Vs0n6-Edb7/preview" width="700" height="480" allow="autoplay"></iframe>
</section>

  <section>
  <h2>Estructura de enfasis correcta</h2>
  <h4>¿Cómo debe ser la marcación de nuestro HTML?</h4>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label correct-answer" for="flexRadioDefault1">
      A
    </label>
    <p><code><code>&lt;strong&gt;Frase de &lt;em&gt;ejemplo&lt;/em&gt;&lt;/strong&gt;</code></code></p>

  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label " for="flexRadioDefault1">
      B
    </label>
    <p><code>&lt;strong&gt;Frase de &lt;/strong&gt;&lt;em&gt;ejemplo&lt;/em&gt;</code></p>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault1">
      C
    </label>
    <p><code>&lt;em&gt;Frase de&lt;/em&gt;&lt;strong&gt;ejemplo&lt;/strong&gt;</code></p>
  </div>
</section>


