
section{
  padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

input{
  background-color: blue;

}
input:checked + label.correct-answer{
  background-color: green;

}
